/* M&M Computer Help - Main Stylesheet */

body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px 10px 5px 10px;
}

/* ===========================
   Navigation Bar
   =========================== */

nav ul {

    list-style: none;

    display: flex;

    justify-content: center;

    gap: 30px;

    padding: 0;

    margin: 20px 0 0 0;
}

nav li {

}

nav a {

    color: white;

    text-decoration: none;

    font-weight: bold;

}

nav a:hover {

    color: #bbbbbb;

}
h1 {
    color: #ffffff;
    margin-bottom: 10px;
}

h2 {
    color: #ffffff;
    margin-top: 0px;
}

p {
    color: #dddddd;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
/* Mission section formatting */
#mission {
    max-width: 900px;
    margin: 15px auto;
    padding: 20px;

    background-color: #1d1d1d;
    border-radius: 10px;

    /* Puts a 2 pixel border around a shaded charcol colored box */
    border: 2px solid #444444;
    box-shadow: 0 0 12px rgba(0,0,0,.4);

}
/* about section formatting */
#about {
    max-width: 900px;
    margin: 15px auto;
    padding: 20px;
    background-color: #1d1d1d;
    border: 2px solid #444444;
    box-shadow: 0 0 12px rgba(0,0,0,.4);
}

#contact {
    max-width: 900px;
    margin: 15px auto;
    padding: 20px;
    background-color: #1d1d1d;
    border: 2px solid #444444;
    box-shadow: 0 0 12px rgba(0,0,0,.4);
}
